<div fxLayout="row" fxLayoutAlign="center none"  class="div-position">
  <div fxFlex="20"    fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" class="Products-link-style">
    <strong class="Products-header" style="margin-right: 35px;">سرور اختصاصی</strong>  <br>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/iran-dedicated-server/" class="Products-link">سرور اختصاصی ایران</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/usa-dedicated-server/" class="Products-link">سرور اختصاصی آمریکا</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/server-management/" class="Products-link" >مدیریت سرور</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/software-license/" class="Products-link">لایسنس نرم افزارها</a></mat-list-item>
     </mat-list>
  </div>
  <div fxFlex="30"    fxFlex.md="30" fxFlex.sm="30" fxFlex.xs="30" class="Products-text">
    <strong class="Products-header">قدرتمند برای پردازش های سنگین</strong>  <br>
    <div class="Products-span">اگر وب‌سایتی دارید که تعداد بازدیدکنندگان آن بسیار زیاد است یا قصد دارید برنامه‌هایی را بر روی سرور اختصاصی خود اجرا کنید که در هاست‌های اشتراکی به دلایل امنیتی و محدودیت‌های منابع قابل پیاده‌سازی نمی‌باشند یا امنیت سایت شرکت یا ارگانی که مسئول وب‌سایت آن هستید بسیار حساس است، سرور اختصاصی را انتخاب کنید. سینداد با توجه به نیاز شما بهترین انتخاب برای سرور را به شما پیشنهاد می‌دهد تا با کمترین هزینه، بهترین انتخاب را از سرور خود داشته باشید.</div>
  </div>
  <div fxFlex="20"    fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20"  style="background: #fbfbfb;">
    <img src="../../assets/dedicated-server.png" alt="domain-ssl" width="200px" height="200px" class="Products-img">
  </div>
</div>
