<div fxLayout="row" fxLayoutAlign="center none"  class="div-position">
  <div fxFlex="20"    fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20" class="Products-link-style">
    <strong class="Products-header" style="margin-right: 35px;">خدمات دیتاسنتر</strong>  <br>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button href="https://portal.sindad.com/domainchecker.php" class="Products-link">کولوکیشن ایران</a>
      </mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/ir-domain/" class="Products-link">کولوکیشن آمریکا</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/international-domain/" class="Products-link" >IP Peering</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="#" class="Products-link">اجاره IP</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button href="https://sindad.com/reseller-domain/" class="Products-link">مدیریت سرور</a></mat-list-item>
    </mat-list>
  </div>
  <div fxFlex="30"    fxFlex.md="30" fxFlex.sm="30" fxFlex.xs="30" class="Products-text">
    <strong class="Products-header">میزبان تجهیزات شما</strong>  <br>
    <div class="Products-span">خدمات میزبانی سرور یا کولوکیشن به سرویسی اتلاق می‌گردد که در آن مشترک به جای اجاره نمودن سرور از سرویس‌دهنده، سخت‌افزار سرور توسط خود مشتری تهیه شده و به مركز داده سپرده می‌شود. در این حالت مالكیت سرور کاملاً با كاربر خواهد بود و هزینه نگهداری سرور بسیار پایین‌تر از حالت اجاره می‌باشد. سینداد با در اختیار داشتن فضای اختصاصی در دیتاسنترهای معتبر ایران، آمریکا و اروپا امکان میزبانی سرور و تجهیزات سخت‌افزاری را فراهم آورده است.</div>
  </div>
  <div fxFlex="20"    fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20"  style="background: #fbfbfb;">
    <img src="../../assets/datacenter-colocation.png" alt="domain-ssl" width="200px" height="200px" class="Products-img">
  </div>
</div>
